@import "./Utility.scss";

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $full;
    max-width: 50rem;
    height: 100vh;
    background-color: $color-bg;

    .title {
      font-family: "Acme";
      font-size: 3.2rem;
      text-align: center;
      text-transform: uppercase;
      width: $full;
      padding: 1.6rem 0;
      color: $color-title;
      background-color: $bg-title;
    }
    .contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: $full;
      height: calc(100vh - 6.4rem);
    }
  }
}

// toDoList
.listWrap {
  width: $full;
  height: calc($full - 14rem);;

  .insertWrap {
    display: flex;
    align-items: stretch;

    .insert {
      width: calc($full - 4rem);
      padding-left: 1.6rem;
      font-size: $size-primary;
    }
    .insertBtn {
      width: 5rem;
      padding: 0.8rem 0;
      font-size: 2.6rem;
      color: #fff;
      background-color: #7DABF4;
    }
  }
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: $full;
    height: $full;
    background-color: $modal-bg;
    backdrop-filter: blur(2px);
  }
  .updateWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: $color-bg;
    border-radius: 1.2rem;
    @include mobile { 
      width: 84%;
    }
    .modalTit {
      display: inline-block;
      width: $full;
      padding: 1.8rem 0;
      font-size: 1.6rem;
      text-align: center;
      color: $color-title;
      background-color: $bg-title;
      font-family: $text-bold;
      border-radius: 1.2rem 1.2rem 0 0;
    }
    .inputGroup {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      padding: 0 2rem;
    }
    .label {
      padding-top: .4rem;
      font-size: $size-primary;
      font-weight: bold;
    }
    .content {
      flex-grow: 1;
      padding: 0.6rem;
      align-self: center;
      font-size: $size-primary;
      border-color: #d6d6d6;
      background-color: transparent;
    }
    .btnWrap {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem;
      border-top: 1px solid #d6d6d6;

      .btn {
        width: $full;
        padding: 1rem;
        border-radius: .4rem;
        background-color: $bg-title;
        color: $color-title;
        font-size: $size-primary;
        font-family: $text-bold;

        &:nth-of-type(2) {
          margin-left: 0.6rem;
        }
      }
    }
  }
}

// Date
.dateWrap {
  padding: 1.5rem 1.6rem;
}
.date {
  font-size: $size-small;
  color: $text-gray;
}

// listItem
.itemWrap {
  height: calc(100% - 9rem);
  border-top: 2px solid #f1f1f1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    width: $full;
    padding: 1.2rem 1.6rem;
    background-color: #F4FCFC;

    & + .item {
      margin-top: 0.6rem;
    }
    .txtWrap {
      position: relative;
      display: flex;
      align-items: center;
      word-wrap: break-word;

      .check[type="checkbox"] {
        opacity: 0;
        z-index: 100;

        & + label {
          position: absolute;
          left: 0;
          top: 4px;
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          border: 1px solid #707070;
        }
        &:checked + label:after {
          content: "✔";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: $size-small;
        }
        &:checked ~ .itemTxt {
          text-decoration: line-through;
          color: #d1d1d1;
        }
      }
      .itemTxt {
        margin-left: 1rem;
        font-size: $size-primary;
        line-height: 1.5;
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }
    .btnWrap {
      flex-shrink: 0;

      .btn {
        font-size: $size-small;

        &:nth-of-type(2) {
          margin-left: 1rem;
        }
      }
    }
  }
}

// weather
.weatherWrap {
  margin-bottom: 5rem;

  .tit {
    font-size: $size-primary;
    color: $text-gray;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    .weatherImg {
      width: 4rem;
    }
    .text {
      font-size: $size-small;
      color: $text-gray;
      margin-top: 0.4rem;

      &:nth-of-type(2) {
        margin-left: 1.4rem;
      }
    }
  }
  
}

/* 반응형 */
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8px;
  }
}